/* font-family: 'Patrick Hand', cursive;
font-family: 'Philosopher', sans-serif; */
header{
    background-color: black;
    height: 350px;
}
header h1{
    color: coral;
    font-family: 'Philosopher', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    
}
header p{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3rem;
}
.card-body{
    background-color: black;
    color: white;
    text-align: center;
}